<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h1>Cool projects</h1>
    <p>This is where my cool projects will be posted.</p>

    {{> footer}}
  </body>
</html>
